.BodyBack{
    background-color: #0C0F0A;
    position: absolute;
    padding:70px;
    margin:-11px;
    /*padding:-2px;
    margin:-11px;*/
}
.DataTable{
    margin: 20px;
}
.Headers Li, A{
    color: lightslategray;
}
.Headers {
    margin: 15px;
    background-color: #0C0F0A;
    color: aliceblue;
}

.header-Banner{
    padding: 10px;
    background-color: #0C0F0A;
}

.header-brief{
    background-color: #0C0F0A;

}
.header-Notes{
    background-color: #0C0F0A;
    padding: 0;
    margin: 0;

}


.box-row{
    color: aliceblue;
    border: darkred solid;
    width: 600px;
    margin: 10px;

}
.box-row P{
    color: aliceblue;
}
.box-row-col{
    width: 70%;
    margin: 10px;
    color: black;

}

.box-row1{
    display: flex;
    width: 600px;
    border: darkred solid;
    margin: 10px;
}


.box-row1-col1 {
    flex:2;
    order:1;
    margin: 10px;
    color: black;
}
.box-row1-col2 {
    flex:1;
    order:2;
    margin: 10px;
    color: black;
}
.box-row1-col3 {
   flex:1;
    order:3;
    margin: 10px;
    color: black;
}
.box-row1 P{
    color: aliceblue;
}

.box-row2{
    display: flex;
    width: 600px;
    border: darkred solid;
    margin: 10px;
}

.box-row2-col1 {
    flex:3;
    order:1;
    padding: 10px;
    color: black;
}
.box-row2-col2 {
    flex:3;
    order:2;
    padding: 10px;
    color: black;
}
.box-row2-col3 {
    flex:3;
    order:3;
    padding: 10px;
    color: black;
}
.box-row2 P{
    color: aliceblue;
}

.graphics-A-container{
    background-color: rgb(17,17,17);
    display: flex;
    width: 1000px;
    border: darkred solid;
    margin: 10px;
}

.graphics-A-graph{
    order:1;
}
.graphics-A-table{
    margin-top: 15px;
    margin-left: -40px;
    order:2;
}






.box-col{

}

.box-row.box-B-col{
    float: left;
    width:33.33%;
}









.box-A-dropdown-col{
    float: left;
    width: 33%;
    position: center;
}
.box-A-dropdown-row:after{
    content: "";
    display: table;

    clear: both;

}
.box-A-dropdown-row{
    width: 50%;
    position: center;
}


.box-A-col{
    float: left;
    width:50%;
}